/* Gaya khusus untuk halaman */
body {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.card {
  background-color: #3490dc; /* Ubah warna latar belakang card sesuai keinginan Anda */
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card p {
  color: #ffffff; /* Warna teks pada celebrity cards menjadi putih */
}

footer {
  margin-top: auto;
}
